div{
 background-color: rgb(28, 238, 185);
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.Botao{
    background: #e67af0;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

margin-top: 10px;

margin-bottom: 10px;
}

.Botao:hover{
    background: #016ABC;

    color: #fff;
    
    border: 1px solid #eee;
    
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px #eee;
    
    text-shadow:none;

    margin-top: 10px;

    margin-bottom: 10px;

}

.nome{
    
    text-align: center;

}

.paragrafo{
    
    text-align: center;
}

